<link rel="stylesheet" href="/css/homepage.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class="header_container">
  <div class="brand">
    <div class="brandimg">
      <img
        src="/images/6f5aa87320b645db91508d1d32af9c50.png"
        alt="brandimg"
        srcset=""
      />
    </div>
    <div class="brandtagline">
      <h1>Do Your Best</h1>
      <hr />
    </div>
  </div>
  <div class="navlist">
    <ul class="navbuttonList">
      <li class="navitem">
        <a href="#"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="navitem">
        <a href="#"><i class="fas fa-info-circle"></i> About Us</a>
      </li>
      <li class="navitem">
        <a href="#"><i class="fas fa-envelope"></i> Contact Us</a>
      </li>
      <li class="navitem">
        <a href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      <li class="navitem">
        <a href="#"><i class="fas fa-history"></i> History</a>
      </li>
    </ul>
  </div>
</div>
